.places {
    width: 77%;
    margin: 92px auto 0;
}

@media screen and (max-width: 1024px) {
    .places {
        width: 90.63%;
    }
}

@media screen and (max-width: 868px) {
    .places {
        width: 93.75%;
        margin-top: 88px;
    }
}

@media screen and (max-width: 720px) {
    .places {
        width: 97.75%;
    }
}

@media screen and (max-width: 600px) {
    .places {
        margin: 64px 0 0;
        width: 100%;
    }
}