.place__image {
    max-width: 460px;
    height: auto;
}

@media screen and (max-width: 1024px) {
    .place__image {
        max-width: 440px;
    }
}

@media screen and (max-width: 900px) {
    .place__image {
        max-width: 390px;
    }
}

@media screen and (max-width: 800px) {
    .place__image {
        max-width: 340px;
    }
}

@media screen and (max-width: 700px) {
    .place__image {
        max-width: 280px;
    }
}

@media screen and (max-width: 650px) {
    .place__image {
        max-width: 250px;
    }
}

@media screen and (max-width: 600px) {
    .place__image {
        max-width: 600px;
        margin-top: 32px;
        width: 100%;
    }
}