.footer__link {
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
}

.footer__link:hover {
    opacity: .8;
}

@media screen and (max-width: 475px) {
    .footer__link {
        font-size: 24px;
        line-height: 24px;
    }
}