.lead__title {
    margin: 56px auto 0;
    padding: 0;
    text-align: center;
    max-width: 720px;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    color: #fff;
}

@media screen and (max-width: 1024px) {
    .lead__title {
        margin: 48px auto 0;
    }
}

@media screen and (max-width: 768px) {
    .lead__title {
        width: 93.75%;
    }
}

@media screen and (max-width: 758px) {
    .lead__title {
        max-width: 560px;
        font-size: 80px;
        line-height: 85px;
    }
}

@media screen and (max-width: 670px) {
    .lead__title {
        max-width: 500px;
        font-size: 71px;
        line-height: 75px;
    }
}

@media screen and (max-width: 525px) {
    .lead__title {
        max-width: 470px;
        font-size: 65px;
        line-height: 69px;
    }
}

@media screen and (max-width: 475px) {
    .lead__title {
        max-width: 400px;
        font-size: 52px;
        line-height: 56px;
    }
}

@media screen and (max-width: 375px) {
    .lead__title {
        max-width: 288px;
        width: 100%;
        font-size: 40px;
        line-height: 44px;
    }
}

@media screen and (max-width: 300px) {
    .lead__title {
        max-width: 270px;
        width: 100%;
        font-size: 33px;
        line-height: 37px;
    }
}