.cover {
    margin: 0 auto;
    max-width: 1184px;
    width: 92.5%;
    height: calc((100vw - 96px)/1.6);
    max-height: 740px;
    position: relative;
}

@media screen and (max-width: 1024px) {
    .cover {
        height: calc(100vw/1.6);
        max-width: 1024px;
        width: 100%;
    }
}