.footer {
    margin: 0 auto;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {
    .footer {
    }
}

@media screen and (max-width: 768px) {
    .footer {
    }
}

@media screen and (max-width: 590px) {
    .footer {
        display: block;
        margin: 0 16px 0;
    }
}